@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0f0f0f;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}

h3 {
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

h4 {
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}

p {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 19.2px */
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }
}
